<h1>Editing user_defined_attributes_field_type</h1>

<%= render 'form' %>

<%= link_to 'Show', [:user_defined_attributes,@user_defined_attributes_field_type] %> |
<%= link_to 'Back', user_defined_attributes_field_types_path %>
