<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_defined_attributes_field_type_path(@user_defined_attributes_field_type) %> |
<%= link_to 'Back', user_defined_attributes_field_types_path %>
